/*
/*/

!.gitignore
!/StarHunter/Assets/
!/StarHunter/Assets/Prefabs/
!/StarHunter/Assets/Resources/
!/StarHunter/Assets/Scenes/
!/StarHunter/Assets/Scripts/
!/StarHunter/ProjectSettings/
!/StarHunter/Packages/